<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite" parallel="none" thread-count="0" preserve-order="true">

    <!-- ============================
         TESTNG LISTENERS (Allure + Extent)
         ============================ -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="Utils.ExtendListenerClass"/>
    </listeners>

    <!-- ============================
         SINGLE TEST (Sequential Execution)
         ============================ -->
    <test name="Complete Test Execution" preserve-order="true" verbose="2">
        <parameter name="Browser" value="chrome"/>

        <classes>
            <class name="Tests.LoginPageTest"/>
            <class name="Tests.AdminPageTest"/>
            <class name="Tests.PIMPageTest"/>
            <class name="Tests.LeavePageTest"/>
            <class name="Tests.RecruitmentPageTest"/>
        </classes>

    </test>

</suite>